body{
    margin: 0;
    background-color: #F6F6F6;
    transition: background-color .5s;
}
.main{
}
a {
    text-decoration: none;
    color: #555;
}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h4{
    margin: 0;
}
@font-face {
    font-family: 'Jal';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*:after, *:before{
    box-sizing: border-box;
    font-family: 'Jal', 'Spoqa Han Sans', 'Sans-serif';
}
.vertical-middle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.contents-root{
    padding-top: 50px;
    overflow-x: hidden;
}
p{
    margin: 0;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}